.projects {
    padding-bottom: 50px;

    &__header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: 'Gilroy-Bold';
        font-size: 2rem;
    
    }

    &__cards-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
}

@media (max-width: 1220px) {
    .projects__cards-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .projects__header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .projects__header-title {
        margin-bottom: 20px;
    }
    
}

@media (max-width: 850px) {
    .projects__cards-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .projects__header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}