.contact-list__item {
    max-width: 280px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-family: "Gilroy-Regular";

}

.contact-list__item-value {
    margin-left: 20px;
}