.project__img {
    max-height: 400px;
    border: 1px solid rgb(255, 255, 255);
}

.project-page__title {
    margin-bottom: 10px;
    font-size: 2.2rem;
}

.project-page__descrpt {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.project-page__tech {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.project-page__app-link {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.project-page__app-link:hover {
    background-color: rgb(230, 168, 53);
    transition: 0.6s all;
}

