.header {
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-family: "Gilroy-Bold";
}
