.skill {
    width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(240, 233, 233);
}

.skill__title {
    padding: 6px;
    border-bottom: solid 2px rgb(240, 233, 233);
    font-size: 1.3rem;
}

.skill__descrpt {
    padding: 6px;
    font-family: 'Gilroy-Regular';
    font-size: 1.1rem;
}

.skill__list {
    padding-top: 6px;
    padding-left: 16px;
}

.skill__list-item {
    margin-bottom: 6px;
}

.skill__list .skill__list-item::marker {
    content: '✓';
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}